/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* Shortcode */
 .shortcode-wrap {
  width: 100%; max-width: 480px; margin: 0 auto;
 }

 .cm_toplist_thead__cell,
 .cm_toplist_tbody__cell {
   padding-left: 8px !important;
 }

.has-yellow-bg {
  background: #ffcc00;
 }